@page 
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<body>

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>

    <div class="d-flex justify-content-around mb-3">
        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
            <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
            <label class="btn btn-outline-primary" for="btnradio1">Radio 1</label>

            <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
            <label class="btn btn-outline-primary" for="btnradio2">Radio 2</label>

            <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
            <label class="btn btn-outline-primary" for="btnradio3">Radio 3</label>
        </div>
        <div class="align-self-center">
            <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#myModal">
                New
            </button>
            <button type="button" class="btn btn-primary">
                Save
            </button>
        </div>
        <div>
        </div>
        <div></div>
    </div>

    <table class="table table-hover row-cols-3 align-items-center">
        <thead>
            <tr>
                <th>Importance</th>
                <th>Description</th>
                <th>Deadline</th>
                <th>State</th>
                <th>Secret</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.ToDos.Count; i++)
            {
                <tr>
                    <td>
                        @if (Model.ToDos[i].Importance == TODO_Webapp.Model.Priority.High)
                        {
                            <span class="badge bg-danger">@Model.ToDos[i].Importance</span>
                        }
                        else if (Model.ToDos[i].Importance == TODO_Webapp.Model.Priority.Low)
                        {
                            <span class="badge bg-warning">@Model.ToDos[i].Importance</span>
                        }
                        else
                        {
                            <span class="badge bg-success">@Model.ToDos[i].Importance</span>
                        }
                    </td>
                    <td>
                        @Model.ToDos[i].Description
                    </td>
                    <td>
                        @Model.ToDos[i].Deadline.Day/
                        @Model.ToDos[i].Deadline.Month/
                        @Model.ToDos[i].Deadline.Year
                    </td>
                    <td class="texc">
                        <div>
                            <form class="form-check-inline">
                                <input type="hidden" asp-for="Guid" value="@Model.ToDos[i].Id" />
                                <input class="form-check-input rounded d-inline-block" asp-page-handler="Complete" id="CompleteBtn_@i" onmouseover="UnFilter('CompleteBtn_@i')" onmouseout="Filter('CompleteBtn_@i')" src="/sources/Complete.png" style="font-size:xx-large; filter:grayscale(100%)" type="image" alt="submit"/>
                            </form>
                            <form method="post" class="form-check-inline">
                                <input type="hidden" asp-for="Guid" value="@Model.ToDos[i].Id" />
                                <input class="form-check-input rounded d-inline-block" asp-page-handler="Delete" id="DeleteBtn_@i" onmouseover="UnFilter('DeleteBtn_@i')" onmouseout="Filter('DeleteBtn_@i')" src="/sources/Delete.png" style="font-size:xx-large; filter:grayscale(100%)" type="image" alt="submit"/>
                            </form>
                            <form class="form-check-inline">
                                <input type="hidden" asp-for="Guid" value="@Model.ToDos[i].Id" />
                                <input class="form-check-input rounded d-inline-block" asp-page-handler="Edit" id="EditBtn_@i" onmouseover="UnFilter('EditBtn_@i')" onmouseout="Filter('EditBtn_@i')" src="/sources/Edit.png" style="font-size:xx-large; filter:grayscale(100%)" type="image" alt="button"/>
                            </form>
                        </div>
                    </td>
                    <td>
                        <div class="d-inline-block ">
                            <input type="radio" name="SecretFeature-@i" class="fs-3" />
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>


    <form method="post" class="align-content-center">
        <!-- The Modal -->
        <div class="modal" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal body -->
                    <div class="modal-body">
                        <select class="form-select" asp-for="Priority">
                            <option value="0">Low</option>
                            <option value="1" selected>Normal</option>
                            <option value="2">High</option>
                        </select>
                        <br />
                        <div class="d-inline-block">
                            <input type="text" maxlength="25" class="rounded" required asp-for="@Model.Description" />
                        </div>
                        <div class="d-inline-block float-end">
                            <input type="radio" name="SecretFeature" class="fs-3" />
                            <input type="radio" name="SecretFeature" class="fs-3" />
                            <input type="radio" name="SecretFeature" class="fs-3" />
                        </div>

                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-primary mt-2" asp-page-handler="New" />
                    </div>

                </div>
            </div>
        </div>
        <div class="col text-center">
        </div>
    </form>

</body>
<script type="text/javascript">
    function UnFilter(id) {
        var element = document.getElementById(id)
        element.style.filter = 'grayscale(0%)'
    }
    function Filter(id) {
        var element = document.getElementById(id)
        element.style.filter = 'grayscale(100%)'
    }

</script>