@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<body>

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
    <ul class="list-group row-cols-2 align-items-center text-center">
        @for (int i = 0; i < Model.ToDos.Count; i++)
        {
            <li class="list-group-item" id="listItem_@i" onmouseover="highlightListItem('listItem_@i')" onmouseout="deHighlightListItem('listItem_@i')">
                <p>
                    @if (Model.ToDos[i].Importance == TODO_Webapp.Model.Priority.High)
                    {
                        <span class="badge bg-danger">@Model.ToDos[i].Importance</span>
                    }
                    else if (Model.ToDos[i].Importance == TODO_Webapp.Model.Priority.Low)
                    {
                        <span class="badge bg-warning">@Model.ToDos[i].Importance</span>
                    }
                    else
                    {
                        <span class="badge bg-success">@Model.ToDos[i].Importance</span>
                    }
                    @Model.ToDos[i].Description
                    ,
                    @Model.ToDos[i].Importance,
                    @Model.ToDos[i].Deadline.Day/
                    @Model.ToDos[i].Deadline.Month/
                    @Model.ToDos[i].Deadline.Year
                    @if (Model.ToDos[i].IsCompleted)
                    {
                        <input class="form-check-input float-end" type="checkbox" id="check1" name="option1" value="something" checked>
                    }
                    else
                    {
                        <input class="form-check-input float-end" style="font-size:xx-large;" type="checkbox" id="check1" name="option1" value="something">
                    }
                    <input type="hidden" value="@Model.ToDos[i].Id" />
                </p>
            </li>
        }
    </ul>



    <form method="post" class="align-content-center">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
            Open modal
        </button>

        <!-- The Modal -->
        <div class="modal" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal body -->
                    <div class="modal-body">
                        <select class="form-select" asp-for="Priority">
                            <option value="0">Low</option>
                            <option value="1" selected>Normal</option>
                            <option value="2">High</option>
                        </select>
                        <br />
                        <div class="d-inline-block">
                            <input type="text" maxlength="25" class="rounded" required asp-for="@Model.Description" />
                        </div>
                        <div class="d-inline-block float-end">
                            <input type="radio" name="SecretFeature" class="fs-3"/>
                            <input type="radio" name="SecretFeature" class="fs-3"/>
                            <input type="radio" name="SecretFeature" class="fs-3"/>
                        </div>

                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-primary mt-2" />
                    </div>

                </div>
            </div>
        </div>
        <div class="col text-center">
        </div>
    </form>

</body>
<script type="text/javascript">
    function highlightListItem(id) {
        var element = document.getElementById(id)
        element.classList.add('GreyHover')
    }
    function deHighlightListItem(id) {
        var element = document.getElementById(id)
        element.classList.remove("GreyHover")
    }

</script>